@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

.backgroundStyle {
  background-color: #FFFAFA;
}

.navigation {
  font-family: 'Sacramento', cursive;
  font-size: 30px;
  text-align: center;
}

.navCurrent {
  margin-left: 20px;
  margin-right: 20px;
   text-decoration:  none;
   color: black;
   text-decoration: line-through;
}

.nav {
  margin-left: 20px;
  margin-right: 20px;
   text-decoration:  none;
   color: black;
}

.nav:hover {
  color: #d32f2f;
}

.myName {
  height: 100vh;
}

.joseph {
  position: relative;
  font-family: 'Sacramento', cursive;
  font-size: 200px;
  text-align: center;
  top: 30%;
}

.lineBreak {
  position: absolute;
  bottom: 30px;
  margin-left: 16.5%;
  border-top: 5px solid #000000;
  width: 9%;
}

.biography {
  font-family: 'Montserrat', sans-serif;
  height: auto;
  display: grid;
  grid-template-columns: 15% auto auto 15%;
  grid-template-rows: 5% auto auto auto 5%;
  grid-column-gap: 35px;
  grid-row-gap: 20px;
}

.divTitle {
  font-size: 30px;
  font-weight: bold;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.blurb {
  font-size: 20px;
  font-weight: normal;
  margin-top: 30px;
}

.p1 {
  font-size: 20px;
  line-height: 1.5;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.p2 {
  font-size: 20px;
  line-height: 1.5;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.p3 {
  font-size: 20px;
  line-height: 1.5;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.space {
  height: 20vh;
}

.mySkills {
  font-family: 'PT Serif', serif;
  height: 60vh;
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
  grid-template-rows: 5% 45% 45% 5%;
  grid-column-gap: 35px;
  grid-row-gap: 20px;
}

.skillOne {
  font-size: 30px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.skillTwo {
  font-size: 30px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.skillThree {
  font-size: 30px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.skillFour {
  font-size: 30px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.skillDesc {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 32px;
}
.contactMe {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration:none;
}

.contactCard {
  height: 100px;
  width: 300px;
  background-color: #FAF0E6;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.contactCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.resume {
  font-family: 'PT Serif', serif;
  font-size: 30px;
  margin-left: 10px;
  color: black;
  text-decoration: none;
}
.talkMe {
  margin-top: 50vh;
  margin-bottom: 50vh;
}
.talktext {
  font-family: 'PT Serif', serif;
  font-size: 60px;
  text-align: center;
}
.talkBody {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.email {
  margin-left: 10px;
}

.myProjects {
  font-family: 'PT Serif', serif;
  font-size: 30px;
  margin-left: 16.5%;
}

.myDesign {
  font-family: 'PT Serif', serif;
  font-size: 30px;
  margin-left: 16.5%;
}

.media-bar {
  height: 50px;
  background-color: #D2B48C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mediaIcons {
  text-align: center;
  color: #F5FFFA;
  margin-left: 20px;
  margin-right: 20px;
}

.madeIn-bar {
  height: 50px;
  background-color: #D2B48C;
  display: flex;
  align-items: center;
  justify-content: center;
}

.madeText {
  color: #F5FFFA;
  font-size: 20px;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 1000px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .navigation {
      font-family: 'Sacramento', cursive;
      font-size: 20px;
      text-align: center;
    }

    .navCurrent {
      margin-left: 7px;
      margin-right: 7px;
       text-decoration:  none;
       color: black;
       text-decoration: line-through;
    }

    .nav {
      margin-left: 7px;
      margin-right: 7px;
       text-decoration:  none;
       color: black;
    }

    .nav:hover {
      color: #d32f2f;
    }

    .myName {
      height: 100vh;
    }

    .joseph {
      position: relative;
      font-family: 'Sacramento', cursive;
      font-size: 65px;
      text-align: center;
      top: 30%;
    }

    .lineBreak {
      position: absolute;
      bottom: 30px;
      margin-left: 15%;
      border-top: 5px solid #000000;
      width: 9%;
    }

  .biography {
    display: block;
    margin-left: 15px;
    font-family: 'Montserrat', sans-serif;
    height: auto;
  }

  .divTitle {
    font-size: 30px;
    font-weight: bold;
  }

  .blurb {
    font-size: 16px;
    font-weight: normal;
    margin-top: 30px;
  }

  .p1 {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.5;
  }

  .p2 {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.5;
  }

  .p3 {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.5;
  }

  .mySkills {
    font-family: 'PT Serif', serif;
    margin-left: 15px;
    height: auto;
    display: block;
  }

  .skillOne {
    margin-top: 20px;
    font-size: 30px;
  }

  .skillTwo {
    margin-top: 20px;
    font-size: 30px;
  }

  .skillThree {
    margin-top: 20px;
    font-size: 30px;
  }

  .skillFour {
    margin-top: 20px;
    font-size: 30px;
  }

  .skillDesc {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 15px;
  }
}
