.poster {
  text-align: center;
  vertical-align: middle;
}

.designspace {
  height: 10vh;
}

.background {
  height: 100vh;
  background-color: #FFFAFA;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 1000px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .poster {
      text-align: center;
      vertical-align: middle;
    }
    .poster-sizing {
      height: 100%;
      width: 100%;
    }
  }
