body,
html {
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.header {
    margin-top: 20px;
    height: 65px;
    margin-left: 5px;
}
.bottom-row {
  margin-top: 5px;
  margin-left: 5px;
  display: inline-block;
  height: 65px;
  width: 100%;
  margin-bottom: 0px;
}

.grid-container {
    -webkit-box-ordinal-group: 2;
    background-color: inherit;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 110px 110px 110px 110px;
    padding: 0px;
    margin-left: 0px;
    grid-column-gap: 0;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.wrapper-for-4 {
    width: 450px;
    margin: 0 auto;
    position: relative;
}

.wrapper-for-5 {
    width: 560px;
    margin: 0 auto;
    position: relative;
}

.wrapper-for-6 {
    width: 670px;
    margin: 0 auto;
    position: relative;
}

.wrapper-for-7 {
    width: 780px;
    margin: 0 auto;
    position: relative;
}

.wrapper-for-8 {
    width: 890px;
    margin: 0 auto;
    position: relative;
}

.title {
    color: #36454f;
    font-size: 36px;
    float: left;
    margin-top: 0;
}

.score {
    position: absolute;
    height: 50px;
    right: 0;
    top: 0;
}

.nowScore,
.bestScore {
    position: relative;
    margin-right: 5px;
    display: inline-block;
    background: #36454f;
    padding: 15px 20px;
    font-size: 25px;
    height: 55px;
    line-height: 47px;
    font-weight: bold;
    border-radius: 3px;
    color: white;
    text-align: center;
}

.nowScore:after,
.bestScore:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #fff;
}

.nowScore {
    margin-right: 5px;
}

.nowScore:after {
    content: 'score';
}

.bestScore:after {
    content: 'bestScore';
}

.grid-cell {
    width: 100px;
    height: 100px;
    margin: 5px;
    line-height: 90px;
    display: inline-block;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-radius: 7px;
    color: #fff;
    background-color: #FAF0E6;
}

.num-cell {
    width: 100px;
    height: 100px;
    margin: 5px;
    line-height: 90px;
    display: inline-block;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-radius: 7px;
    color: #fff;
    position: absolute;
    font-weight: bold;
    /*-webkit-transition:all 5s ease-in-out;*/
}

.container-for-4 {
    width: 450px;
    height: 450px;
    padding: 5px;
    background-color: #FFFAFA;
    border-radius: 7px;
    outline: none;
    position: relative;
}

.container-for-5 {
    width: 560px;
    height: 560px;
    padding: 5px;
    background-color: #cce4db;
    border-radius: 7px;
    outline: none;
    position: relative;
}

.container-for-6 {
    width: 670px;
    height: 670px;
    padding: 5px;
    background-color: #cce4db;
    border-radius: 7px;
    outline: none;
    position: relative;
}

.container-for-7 {
    width: 780px;
    height: 780px;
    padding: 5px;
    background-color: #cce4db;
    border-radius: 7px;
    outline: none;
    position: relative;
}

.container-for-8 {
    width: 890px;
    height: 890px;
    padding: 5px;
    background-color: #cce4db;
    border-radius: 7px;
    outline: none;
    position: relative;
}

.cell-new {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-name: newTile;
    animation-name: newTile;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

@-webkit-keyframes newTile {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes newTile {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.cell-merged {
    z-index: 20;
    -webkit-animation: pop 200ms ease 100ms;
    -moz-animation: pop 200ms ease 100ms;
    animation: pop 200ms ease 100ms;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

@-webkit-keyframes pop {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pop {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pop {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.cell-color-2 {
    background: #66c9ff;
    border-color: #FAF8EF;
}

.cell-color-4 {
    background: #f56a81;
    border-color: #EAE0C8;
}

.cell-color-8 {
    background: #490A3D;
    border-color: #F59563;
}

.cell-color-16 {
    background: #355C7D;
    border-color: #3399ff;
}

.cell-color-32 {
    background: #0CA5B0;
    border-color: #ffa333;
}

.cell-color-64 {
    background: #00C176;
    border-color: #cef030;
}

.cell-color-128 {
    background: #E21B5A;
    border-color: #E8D8CE;
}

.cell-color-256 {
    background: #109B81;
    border-color: #990303;
}

.cell-color-512 {
    background: #E21B5A;
    border-color: #6BA5DE;
}

.cell-color-1024 {
    background: #E21B5A;
    border-color: #DCAD60;
}

.cell-color-2048 {
    background: #E21B5A;
    border-color: #B60022;
}

.playAgain {
    float: left;
    margin-top: 0;
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 0 1px #fff inset;
    -webkit-box-shadow: 0 0 1px #fff inset;
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background 0.8s;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    color: #36454f;
    background-color: #FAF0E6;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.playAgain:hover {
  background: #FAF0E6 radial-gradient(circle, transparent 1%, #FAF0E6 1%) center/15000%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.playAgain:active {
  background-size: 100%;
  transition: background 0s;
}

select.select-cell-num {
    width: 80px;
    height: 40px;
    line-height: 40px;
    padding-right: 20px;
    text-indent: 4px;
    text-align: left;
    vertical-align: middle;
    box-shadow: inset 0 0 3px #606060;
    border: 1px solid #acacac;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: Arial, Calibri, Tahoma, Verdana;
    font-size: 18px;
    font-weight: 500;
    color: #36454f;
    cursor: pointer;
    outline: none;
}

select.select-cell-num option {
    padding: 4px 10px 4px 10px;
    font-size: 11pt;
    font-weight: normal;
}

select.select-cell-num option:hover {
    background: #61ccfd;
    padding-left: 20px;
}

select.select-cell-num option[selected] {
    font-weight: bold
}

select.select-cell-num option:nth-child(even) {
    background-color: #f5f5f5;
}

label.lbl-select {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 10px;
}

label.lbl-select::after {
    content: "\25bc";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: #36454f;
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    pointer-events: none;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 1000px)
  and (-webkit-min-device-pixel-ratio: 2) {




  }
