.blog-card {
    width: 600px;
    height: fit-content;
    margin-top: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: rgb(10, 10, 10);
    border-radius: 3px;
    transition: opacity 0.35s ease-in;
    cursor: pointer;
    text-align: left;
}
.card-picture-wrapper {
    height: 200px;
    width: 100%;
}
.card-pic {
    width: 100%;
    height: 100%;
}
.card-body {
    position: relative;
    height: 205px;
}
.card-title {
    font-size: calc(1.7vw + 22px);
    font-weight: 500;
    width: calc(100% - 20px);
    margin-left: 12px;
    margin-bottom: 8px;
    padding-top: 12px;
}
.card-description {
    width: fit-content;
    max-width: 100%;
    overflow: auto;
    height: fit-content;
    padding-left: 12px;
    padding-bottom: 6px;
    margin-bottom: 12px;
}
.card-user {
    
}
.user-pic {
    float: left;
    z-index: 10;
    left: 12px;
    position: absolute;
}
.blog-user-image {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #EA6D60;
}
.user-name {
    left: 72px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 10;
    margin-top: 3px;
}
.user-name-a {
    text-decoration: none;
    color: rgb(102, 102, 102);
}
.user-name-a:hover {
    text-decoration: underline;
}
.user-date {

}
.user-hashtags {
    position: absolute;
    display: flex;
    flex-direction: row;
    max-width: 76%;
    z-index: 5;
    left: 72px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #0a0a0a;
    margin-top: 30px;
}
.hashtag-a {
    text-decoration: none;
}
.hashtag {
    margin-right: 8px;
    color:rgb(10, 10, 10);
}
.hashtag-a:hover {
    text-decoration: underline;
}
.card-likes {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: rgb(102, 102, 102);
    z-index: 10;
}
.card-likes-number {
    margin-left: 6px;
}
.card-read-time {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: rgb(102, 102, 102);
    z-index: 10;
}
.customHeart {
    color: red;
}