* {
    box-sizing: border-box;
}

.home-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.topbar {

  width: 100%;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: green;
}

.icon-wrapper {

  width: 25px;
  height: 25px;
  padding-left: 12px;
  margin-top: 12px;

}
.links-wrapper {

  width: fit-content;
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  padding-left: 12px;
  padding-right: 12px;

}

.link {
  color: grey;
  text-decoration: none;
  padding: 6px;
}
.link:hover {
  color: red;
}

.body {
  width: 100%;
  position: absolute;
  top: 45px;
  bottom: 0;
  background-color: blue;
}
