.home {
    max-width: 100%;
    height: fit-content;
    min-height: 100vh;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 24px;
    background-color: #F5F5F5;
}
.home-topbar {
    display: flex;
    width: 100%;
    height: 20vh;
    flex-direction: row;
    justify-content: space-between;
}
.home-button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 530;
}
.home-button:hover {
    color: #EA6D60;
    transition: color .3s;
    cursor: pointer;
}
.home-body {
    width: 100%;
}
.current-page {
    color: #EA6D60;
}
.body-text {
    font-size: 6vw;
}
.body-box {
    width: 27vw;
    min-width: 250px;
    max-width: 375px;
    height: 27vw;
    min-height: 250px;
    max-height: 375px;
    margin-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 32px;
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
}
.body-box:hover {
    cursor: pointer;
}
.box-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 12vh;
    margin-bottom: 6vh;
}
.box-image-wrapper {
    background-color: #EA6D60;
    transition: width .25s, height .25s, margin .25s;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.body-box:hover .box-image-wrapper {
    width: 95%;
    height: 95%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}
.box-image {
    width: 100%;
    height: 100%;
    border-radius: 9px;
}
.box-text {
    position: absolute;
    bottom: 24px;
    left: 55px;
    color: white;
    font-size: 52px;
}
.sad-image {
    width: 100%;
    height: 100%;
    border-radius: 9px;
}
.writing-image {
    width: 100%;
    height: 100%;
    border-radius: 9px;
}
.projects-page {
    display: flex;
    flex-direction: column;
}
.projects-header {
    font-size: 10vh;
}
.project-button {
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 18vh;
    width: 100%;
    padding: 0;
    position: relative;
}
.project-button:hover {
    cursor: pointer;
}
.project-button-inner {
    width: 100%;
    height: 100%;
    background-color: #EA6D60;
    transition: width .25s, height .25s, margin .25s;
    position: relative;
}
.project-button:hover .project-button-inner {
    width: 96%;
    height: 95%;
    margin-right: 2%;
    margin-left: 2%;
}
.project-button-text {
    height: fit-content;
    position: absolute;
    top: 32%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    font-size: 6vh;
}
.about-info-wrapper {
    display: flex;
    flex-direction: column;
}
.info-item {
    width: 100%;
    min-width: 300px;
    height: 12vh;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-top: 7vh;
    position: relative;
    font-size: 3vh;
    word-wrap: break-word;
}
.about-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}